/* https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html */
/*!
 * @theme aurora-dark
 * @author Oscar Ahlén
 *
 * @auto-scaling false
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
@import-theme "default";
@import "ubuntu-sans-fonts";

/* Make slide content start at top */
section:not(:where(.lead)) {
  display: flex;
  place-content: safe start;
}

/* Customize code blocks to give them a scrollbar and prevent overflow */
pre {
  max-height: 80%;
}

pre > code {
  display: inline-block !important;
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
}

/* Ensure transparent PNG are actually transparent */
section img {
  background-color: transparent !important;
}

&.hljs {
  color: #c6cbdd;
  background: #1c1f26;
}

.hljs-keyword {
  color: #d2a6f2;
}

.hljs-built_in {
  color: #89d7e6;
}

.hljs-type {
  color: #e6c789;
}

.hljs-literal {
  color: #ffac70;
}

.hljs-number {
  color: #ffac70;
}

.hljs-operator {
  color: #89d7e6;
}

.hljs-punctuation {
  color: #c6cbdd;
}

.hljs-property {
  color: #89d7e6;
}

.hljs-regexp {
  color: #d2a6f2;
}

.hljs-string {
  color: #a6d279;
}

.hljs-char.escape_ {
  color: #a6d279;
}

.hljs-subst {
  color: #acb4cd;
}

.hljs-symbol {
  color: #89d7e6;
}

.hljs-variable {
  color: #d2a6f2;
}

.hljs-variable.language_ {
  color: #d2a6f2;
}

.hljs-variable.constant_ {
  color: #ffac70;
}

.hljs-title {
  color: #89b6f5;
}

.hljs-title.class_ {
  color: #e6c789;
}

.hljs-title.function_ {
  color: #89b6f5;
}

.hljs-params {
  color: #ffac70;
}

.hljs-comment {
  color: #7e86a0;
}

.hljs-doctag {
  color: #f5899b;
}

.hljs-meta {
  color: #ffac70;
}

.hljs-section {
  color: #89b6f5;
}

.hljs-tag {
  color: #89d7e6;
}

.hljs-name {
  color: #d2a6f2;
}

.hljs-attr {
  color: #89d7e6;
}

.hljs-attribute {
  color: #a6d279;
}

.hljs-bullet {
  color: #89d7e6;
}

.hljs-code {
  color: #a6d279;
}

.hljs-emphasis {
  color: #f5899b;
  font-style: italic;
}

.hljs-strong {
  color: #f5899b;
  font-weight: bold;
}

.hljs-formula {
  color: #89d7e6;
}

.hljs-link {
  color: #89b6f5;
  font-style: italic;
}

.hljs-quote {
  color: #a6d279;
  font-style: italic;
}

.hljs-selector-tag {
  color: #e6c789;
}

.hljs-selector-id {
  color: #89b6f5;
}

.hljs-selector-class {
  color: #89d7e6;
}

.hljs-selector-attr {
  color: #d2a6f2;
}

.hljs-selector-pseudo {
  color: #89d7e6;
}

.hljs-template-tag {
  color: #f5899b;
}

.hljs-template-variable {
  color: #f5899b;
}

.hljs-addition {
  color: #a6d279;
  background: rgba(166, 210, 121, 0.15);
}

.hljs-deletion {
  color: #f5899b;
  background: rgba(245, 137, 155, 0.15);
}

:root {
  /* github-markdown-css variables */
  --bgColor-attention-muted: rgba(230, 199, 137, 0.15);
  --bgColor-default: #1c1f26;
  --bgColor-muted: #252832;
  --bgColor-neutral-muted: #2e323e;
  --borderColor-accent-emphasis: #f5899b;
  --borderColor-attention-emphasis: #e6c789;
  --borderColor-danger-emphasis: #f5899b;
  --borderColor-default: #2e323e;
  --borderColor-done-emphasis: #d2a6f2;
  --borderColor-muted: #2e323e;
  --borderColor-success-emphasis: #a6d279;
  --fgColor-accent: #f5899b;
  --fgColor-attention: #e6c789;
  --fgColor-danger: #f5899b;
  --fgColor-default: #c6cbdd;
  --fgColor-done: #d2a6f2;
  --fgColor-muted: #acb4cd;
  --fgColor-success: #a6d279;
  /* Marp default theme variables */
  --h1-color: #f5899b;
  --header-footer-color: #7e86a0;
  --heading-strong-color: #f5899b;
  --paginate-color: #7e86a0;
}

section h1 {
  color: #f5899b;
  font-weight: 700;
}

section h2 {
  color: #ffac70;
}

section h3 {
  color: #e6c789;
}

section h4 {
  color: #a6d279;
}

section h5 {
  color: #89d7e6;
}

section h6 {
  color: #d2a6f2;
}

section a {
  color: #89b6f5;
}

section table thead th {
  background: var(--bgColor-muted);
  color: var(--fgColor-muted);
}

section table tbody > tr:nth-child(2n) td,
section table tbody > tr:nth-child(2n) th {
  background: var(--bgColor-default);
  color: var(--fgColor-default);
}

section .markdown-alert.markdown-alert-note {
  border-left-color: #89b6f5;
}

section .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #89b6f5;
}

section {
  /* Lead class taken from Marp builtin Gaia theme */
}

section:where(.lead) {
  place-content: safe center center;
  /* Definitions for classic behavior: Users can adopt flex centering by tweaking style `section.lead { display: flex }` */
  flex-flow: column nowrap;
  align-items: stretch;
}

section:where(.lead) h1,
section:where(.lead) h2,
section:where(.lead) h3,
section:where(.lead) h4,
section:where(.lead) h5,
section:where(.lead) h6 {
  text-align: center;
}

section:where(.lead) {
  /* stylelint-disable-next-line no-descending-specificity */
}

section:where(.lead) p {
  text-align: center;
}

section:where(.lead) blockquote > h1,
section:where(.lead) blockquote > h2,
section:where(.lead) blockquote > h3,
section:where(.lead) blockquote > h4,
section:where(.lead) blockquote > h5,
section:where(.lead) blockquote > h6,
section:where(.lead) blockquote > p {
  text-align: left;
}

section:where(.lead) ul > li > p,
section:where(.lead) ol > li > p {
  text-align: left;
}

section:where(.lead) table {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #252832;
  border-color: #89d7e6;
}
